<div>
    <div class="container mt-5">
        <p>This is a CRUD web application front-end using angular version 17 connecting to api with js-server</p>
        <p>There are sereral technical using in this web application:</p>
        <ul>
            <li>angular 17</li>
            <li>js-server</li>
        </ul>
        <p>CRUD stands for main function : </p>
        <ul>
            <li>C: Create User</li>
            <li>R: Read User(s)</li>
            <li>U: Update User</li>
            <li>D: Delete User</li>
        </ul>
        <p>This web application will be expanded in the future with more functions </p>
        <p>If you would like to need more information, please feel free to contact to author: <a href="mailto:vominhman@gmail.com">Man Vo</a></p>
    </div>
</div>

