
<div class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top">    
    <ul class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center">
        <li class="nav-item">
            <a routerLink="/" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Home">
                <i class="bi-house fs-1"></i>
            </a>
        </li>
        <li>
            <a routerLink="/user-list" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Orders">
                <i class="bi-table fs-1"></i>
            </a>
        </li>
        <li>
            <a routerLink="/signup" class="nav-link py-3 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Dashboard">
                <!-- <i class="bi-speedometer2 fs-1"></i> -->
                <i class="bi bi-person-add fs-1"></i>
            </a>
        </li>       
    </ul>
</div>
